@keyframes blink-animation {
    to  {
        visibility: hidden;
    }    
}

.home   {
    animation-name: blink-animation;
    animation-duration: 2s;
    animation-timing-function: steps(5, start);
    animation-iteration-count: infinite;
}

h2  {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}